{% extends "base.html" %}

{% block title %}Painel de Controle{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h1>Painel de Controle</h1>
    <div class="dashboard-menu">
        <div class="menu-card-static">
            <div class="card-icon">👥</div>
            <div class="card-title">{{ total_pacientes }}</div>
            <div class="card-description">Pacientes Totais</div>
        </div>
        <div class="menu-card-static">
            <div class="card-icon">📈</div>
            <div class="card-title">{{ novos_pacientes_mes }}</div>
            <div class="card-description">Novos Pacientes no Mês</div>
        </div>

        <div class="menu-card-dynamic">
            <h3 class="dynamic-card-title">🗓️ Próximos Agendamentos</h3>
            <ul class="appointment-list">
                {% for agendamento in proximos_agendamentos %}
                    <li>
                        <strong>{{ agendamento.data_hora_formatada }}</strong><br>
                        {{ agendamento.paciente_nome }}
                    </li>
                {% else %}
                    <li>Nenhum agendamento próximo.</li>
                {% endfor %}
            </ul>
             <a href="{{ url_for('ver_agendamentos') }}" class="card-link">Ver todos</a>
        </div>
    </div>
</div>
{% endblock %}